@model CategoryPostVM


<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div  class="row g-4">

        <div class="col-sm-12 col-xl-6">
            <form style="margin:auto" method="post" enctype="multipart/form-data" class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Kategori ekle</h6>
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" id="floatingInput"
                           placeholder="Kategori adı girin">
                    <label for="floatingInput">Ad</label>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Image" class="form-control" accept="image/*" id="floatingInput">
                    <label for="floatingInput">Resim</label>
                    <span class="text-danger" asp-validation-for="Image"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="BGImage" accept="image/*" class="form-control" id="floatingInput">
                    <label for="floatingInput">Arka Plan Resmi</label>
                    <span class="text-danger" asp-validation-for="BGImage"></span>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" asp-for="ParentCategoryId" id="floatingSelect"
                            aria-label="Floating label select example">
                        <option value="@null" disable selected>Üst Kategori seçin (Opsiyonel)</option>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>

                        }

                    </select>
                    <label for="floatingSelect">Üst Kategori</label>
                    <span class="text-danger" asp-validation-for="ParentCategoryId"></span>
                </div>
                <button class="btn btn-primary">Ekle</button>
                <a asp-action="Index" class="btn btn-secondary">Geri</a>
            </form>
        </div>

    </div>
</div>
<!-- Form End -->
        </div>
<!-- Content End -->