@model SliderPostVM


<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 col-xl-6">
            <form style="margin:auto" method="post" enctype="multipart/form-data" class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Slider ekle</h6>
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" id="floatingInput"
                           placeholder="Kategori adı girin">
                    <label for="floatingInput">Ad</label>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>


                <div class="form-floating mb-3">
                    <input asp-for="Subject" class="form-control" id="floatingInput"
                           placeholder="Slider başlığı girin">
                    <label for="floatingInput">Başlık</label>
                    <span class="text-danger" asp-validation-for="Subject"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Title" class="form-control" id="floatingInput"
                           placeholder="Slider açıklaması girin">
                    <label for="floatingInput">Açıklama</label>
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Button" class="form-control" id="floatingInput"
                           placeholder="Slider button girin">
                    <label for="floatingInput">Button</label>
                    <span class="text-danger" asp-validation-for="Button"></span>
                </div>


                <div class="form-floating mb-3">
                    <input asp-for="Image" class="form-control" accept="image/*" id="floatingInput">
                    <label for="floatingInput">Resim</label>
                    <span class="text-danger" asp-validation-for="Image"></span>
                </div>

                <button class="btn btn-primary">Ekle</button>
                <a asp-action="Index" class="btn btn-secondary">Geri</a>
            </form>
        </div>

    </div>
</div>
<!-- Form End -->
        </div>
<!-- Content End -->